/*
 * Atoms
 * The Source project
 */

:root {
  --header-font: "Bebas Neue", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --content-width: 950px;
  --space: 20px;
  --panel-background: rgba(0,0,0,0.8);
  --panel-fade: 150px;
  --background-color: black;

  /* scroll-snap-type: y mandatory; */
  background-color: var(--background-color);
}

body {
  margin: 0;
}

h1 {
  font: 400 64px/1em var(--header-font);
}

h2 {
  font: 400 48px/1em var(--header-font);
}

h3 {
  font: 400 30px/1.4em var(--header-font);
}

p {
  font: 17px/1.5em var(--body-font);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

li {
  font: 17px/1.5em var(--body-font);
}

figure {
  margin: 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  margin-top: 12px;
  font: 700 14px/17px var(--body-font);
}

footer {
  min-height: 100px;
  background-color: rgba(30,30,30,1);
}

blockquote {
  border-left: 2px solid white;
  padding-left: var(--space);
  box-sizing: border-box;
}

blockquote p {
  font: 700 20px/28px var(--body-font);
  margin: 0;
}

blockquote .cite {
  font: 400 17px/44px var(--body-font);
  margin-top: 10px;
}

/*
 * Forms
 */

form {
  display: grid;
  gap: 15px;
}

input, button {
  display: block;
  font: 1em var(--body-font);
  padding: 0.5em 1em;
  cursor: pointer;
}

/*
 * Flag
 */

.flag {
  position: absolute;
  display: grid;
  width: 100vw;
  gap: var(--space) calc(var(--space) * 2);
  background: rgba(0,0,0,0.25);
  padding: var(--space);
  padding-top: calc(var(--space) / 2);
  box-sizing: border-box;
  z-index: 2;
}

.logo {
  display: block;
  width: auto;
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  font: 400 24px/1em var(--header-font);
  color: white;
  text-decoration: none;
}

.nav a:after {
  content: "";
  display: block;
  height: 2px;
}

.nav a:hover:after {
  background-color: white;
}

@media(min-width: 768px) {
  .flag {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .nav {
    transform: translateY(6px);
  }
}

/*
 * Vignettes
 */

.vignette {
  position: relative;
  /* scroll-snap-align: start; */
}

.vignette > .background {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center bottom;
}

/*
 * Panels
 */

.panel {
  position: relative;
  padding: var(--space);
  margin-top: var(--top);
  box-sizing: border-box;
  color: white;
  background-color: var(--panel-background);
  backdrop-filter: blur(5px);
}

.panel:before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: var(--panel-fade);
  top: calc(var(--panel-fade) * -1);
  left: 0;
  background: linear-gradient(to bottom, transparent, var(--panel-background) 90%);
}

.panel > * {
  display: block;
  margin: 0 auto;
  width: min(var(--content-width), 100vw);
}

.panel .full-bleed {
  --content-width: 100vw;
  margin-left: calc(var(--space) * -1);
}

.panel blockquote,
.panel figure {
  margin: 3rem auto;
}

/*
 * Grid 
 */

.grid {
  --content-width: 1240px;
  display: grid;
  grid-template-areas: 
    "intro"
    "content"
    "aside"
    "caption";
  gap: 40px 140px; 
  margin: 0 auto;
}

@media(min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 275px;
    grid-template-areas: 
      "intro intro"
      "content aside"
      ". ."
      "caption caption"
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 275px;
  }
}

/*
 * Intro
 */

.intro {
  text-align: center;
  grid-area: intro;
  /* margin-bottom: 40px; */
}

.intro .category {
  font: 600 24px/30px var(--body-font);
}

.intro .category:after {
  content: url("/img/swoop.svg");
  display: block;
}

/* .swoop { */
/*   display: block; */
/*   margin: calc(var(--space)/2) auto; */
/* } */

.intro h1 {
  margin: calc(var(--space) / 2) 0;
}

.intro p {
  font: 600 23px/30px var(--body-font);
  margin: 0px auto;
  text-align: center;
}

.lead-intro {
  margin: -275px auto 150px;
}

/*
 * Content
 */

.content {
  grid-area: content;
}

.content :first-child {
  margin-top: 0;
}


/*
 * Aside
 */

aside {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 2);
  align-items: start;
  grid-area: aside;
}

.fact {
  display: grid;
  gap: calc(var(--space) / 2);
  align-content: start;
  /* opacity: 1; */
  /* transition: opacity 1s ease-in 0.5s; */
}

/* .fact.animate { */
/*   opacity: 1; */
/* } */

.fact * {
  margin: 0;
}

.fact h2 {
  transform: translateY(3px);
}

.fact img {
  display: block;
  width: 100%;
}

/* .fact:nth-child(2) { */
/*   transition-delay: 1s; */
/* } */

/* .fact:nth-child(3) { */
/*   transition-delay: 2s; */
/* } */

/* .fact:nth-child(4) { */
/*   transition-delay: 3s; */
/* } */

.caption {
  font: 700 14px/17px var(--body-font);
  grid-area: caption;
}

.caption:before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 12px;
}


/*
 * Facts
 */

.facts {
  display: grid;
  gap: 38px;
}

@media(min-width: 768px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1140px) {
  .facts {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*
 * Scrolling Panels
 */

scrolling-panel figure {
  position: relative;
  display: flex;
}

scrolling-panel figure img,
scrolling-panel figure video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

scrolling-panel figure figcaption {
  position: relative;
  align-self: end;
  background: var(--panel-background);
  color: white;
  padding: var(--space);
  width: 100%;
  box-sizing: border-box;
}

scrolling-panel figure figcaption:before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 12px;
}

/*
 * Other 
 */

.about {
  display: grid;
  align-content: center;
  text-align: center;
  /* background-color: #0F2538; */
  padding: var(--space);
  min-height: 100vh;
  color: white;
  /* scroll-snap-align: start; */
}

.info {
  max-width: 475px;
  margin: 0 auto;
}

.info h1 {
  margin: var(--space) 0;
}

.info p {
  font: 600 17px/24px var(--body-font);
}
