/*
 * Atoms
 * The Source project
 */

:root {
  --header-font: "Bebas Neue", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --content-width: 1000px;
  --space: 30px;
  --panel-background: rgba(0,0,0,0.9);
  --panel-fade: 100px;
  --background-color: black;
  --vignette-height: 50vh;

  background-color: var(--background-color);
}

body {
  margin: 0;
}

@media(min-width: 768px) {
  body {
    --vignette-height: 70vh;
  }
}

@media(min-width: 1024px) {
  body {
    --vignette-height: 100vh;
  }
}

h1 {
  font: 400 64px/1em var(--header-font);
}

h2 {
  font: 400 48px/1em var(--header-font);
}

h3 {
  font: 400 30px/1.4em var(--header-font);
}

h4 {
  font: 400 20px/1.4em var(--header-font);
}

p {
  font: 16px/1.5em var(--body-font);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

li {
  font: 17px/1.5em var(--body-font);
}

figure {
  margin: 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  margin-top: 12px;
  font: 700 14px/17px var(--body-font);
}

footer {
  min-height: 100px;
  background-color: rgba(30,30,30,1);
}

blockquote {
  border-left: 2px solid white;
  padding-left: var(--space);
  box-sizing: border-box;
}

blockquote p {
  font: 700 20px/28px var(--body-font);
  margin: 0;
}

blockquote .cite {
  font: 400 17px/44px var(--body-font);
  margin-top: 10px;
}

/*
 * Forms
 */

form {
  display: grid;
  gap: 15px;
}

input, button {
  display: block;
  font: 1em var(--body-font);
  padding: 0.5em 1em;
  cursor: pointer;
}

/*
 * Flag
 */

.flag {
  position: absolute;
  display: grid;
  width: 100vw;
  gap: var(--space) calc(var(--space) * 2);
  background: rgba(0,0,0,0.25);
  padding: var(--space);
  padding-top: calc(var(--space) / 2);
  box-sizing: border-box;
  z-index: 2;
}

.logo {
  display: block;
  width: auto;
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  font: 400 18px/1em var(--header-font);
  color: white;
  text-decoration: none;
}

.nav a:after {
  content: "";
  display: block;
  height: 2px;
}

.nav a:hover:after {
  background-color: white;
}

@media(min-width: 768px) {
  .flag {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .nav {
    transform: translateY(6px);
  }

  .nav a {
    font-size: 24px;
  }
}

/*
 * Vignettes
 */

.vignette {
  position: relative;
}

.vignette > .background {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--vignette-height);
  object-fit: cover;
  object-position: center bottom;
}

/*
 * Panels
 */

.panel {
  position: relative;
  padding: var(--space);
  margin-top: var(--top);
  box-sizing: border-box;
  color: white;
  background-color: var(--panel-background);
  backdrop-filter: blur(5px);
  will-change: transform;
}

.panel:before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: var(--panel-fade);
  top: calc(var(--panel-fade) * -1);
  left: 0;
  background: linear-gradient(to bottom, transparent, var(--panel-background) 90%);
  pointer-events: none;
}

.panel > * {
  display: block;
  margin: 0 auto;
  width: min(var(--content-width), 100%);
}

.panel .full-bleed {
  width: 100vw;
  margin-left: calc(var(--space) * -1);
}

.panel blockquote,
.panel figure {
  margin: 3rem auto;
}

.panel audio {
  width: revert;
  margin-left: 0;
}

/*
 * Column
 */

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
}

/*
 * Grid 
 */

.grid {
  display: grid;
  grid-template-areas: 
    "intro"
    "content"
    "aside"
    "caption";
  gap: 40px 140px; 
  margin: 0 auto;
}

/* .grid > * { */
/*   opacity: 0; */
/*   transform: translateY(20px); */
/*   transition: opacity .4s ease, transform .2s ease; */
/* } */

/* .grid.show > * { */
/*   opacity: 1; */
/*   transform: translateY(0); */
/* } */


@media(min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 275px;
    grid-template-areas: 
      "intro intro"
      "content aside"
      ". ."
      "caption caption";
  }
}

/*
 * Intro
 */

.intro {
  text-align: center;
  grid-area: intro;
}

.intro .category {
  font: 600 24px/30px var(--body-font);
}

.intro .category:after {
  content: url("/img/swoop.svg");
  display: block;
}

.intro h1 {
  margin: calc(var(--space) / 2) 0;
}

.intro p {
  font: 600 23px/30px var(--body-font);
  margin: 0px auto;
  text-align: center;
}

@media(min-width: 1024px) {
  .lead-intro {
    margin: -275px auto 150px;
  }
}

/*
 * Content
 */

.content {
  grid-area: content;
  transition-delay: 0.5s;
}

.content :first-child {
  margin-top: 0;
}

/*
 * Aside
 */

.grid aside {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 2);
  align-items: start;
  grid-area: aside;
  transition-delay: 1s;
}

.fact {
  display: grid;
  gap: calc(var(--space) / 2);
  align-content: start;
}

.fact * {
  margin: 0;
}

.fact h2 {
  transform: translateY(3px);
}

.fact img {
  display: block;
  width: 100%;
}

.caption {
  font: 700 14px/17px var(--body-font);
  grid-area: caption;
  grid-column: 1/-1;
}

.caption:before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 12px;
}

/*
 * Facts
 */

.facts {
  display: grid;
  gap: 38px;
}

@media(min-width: 768px) {
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1140px) {
  .facts {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: unset;
  }
}

/*
 * Strips
 */

.strip {
  display: flex;
  gap: var(--space);
  overflow-x: auto;
  height: var(--vignette-height);
  scroll-snap-type: x mandatory;
}

.strip > figure {
  position: relative;
  display: flex;
  align-self: start;
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  scroll-snap-align: start;
}

.strip figure img,
.strip figure video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.strip figure figcaption {
  position: relative;
  align-self: end;
  background: var(--panel-background);
  color: white;
  padding: var(--space);
  width: 100%;
  box-sizing: border-box;
}

.strip figure figcaption:before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: white;
  margin-bottom: 12px;
}

/*
 * Animations
 */

.animate-group > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .5s ease, transform .3s ease;
}

.animate-group.show > * {
  opacity: 1;
  transform: translateY(0);
}

/*
 * Other 
 */

.about {
  display: grid;
  align-content: space-around;
  padding: var(--space);
  min-height: 100vh;
  color: white;
}

.info {
  max-width: 475px;
  margin: 0 auto;
  text-align: center;
}

.info h1 {
  margin: var(--space) 0;
}

.info p {
  font: 600 17px/24px var(--body-font);
  margin: 0;
}

.about .resources {
  max-width: var(--content-width);
  margin: 0 auto;
}
