/*
 * Atoms
 * The Source project
 */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --header-font: "Bebas Neue", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --media-background: #efefef;
  --element-margin: 18px;
  --element-padding: 24px;
  --element-width: 680px;
}

body {
  margin: 0;
}

h1 {
  font: 400 64px/1.4em var(--header-font);
}

h2 {
  font: 400 40px/1.4em var(--header-font);
}

h3 {
  font: 400 30px/1.4em var(--header-font);
}

p {
  font: 18px/1.5em var(--body-font);
}

li {
  font: 18px/1.5em var(--body-font);
}

figure {
  margin: 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption p {
  font: 0.9rem/1.4em var(--body-font);
}

nav {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: var(--element-padding);
  z-index: 2;
  background: linear-gradient(rgba(0,0,0,0.5), transparent 95%); 
}

nav a {
  font: 400 24px/1em var(--header-font);
  color: white;
  text-decoration: none;
}

footer {
  min-height: 100px;
  background-color: rgba(30,30,30,1);
}

/*
 * Forms
 */

form {
  display: grid;
  gap: 15px;
}

input, button {
  display: block;
  font: 1em var(--body-font);
  padding: 0.5em 1em;
  cursor: pointer;
}

.login-panel {
  min-height: 50vh;
  display: grid;
  place-items: center;
}

/* 
 * Story page styles
 */

.story > * {
  max-width: var(--element-width);
  margin: var(--element-margin) auto;
  padding: 0 var(--element-padding);
}

.story > :first-child {
  margin-top: 0;
}
